html { 
    background-color: black; 
}

.toolbar-spacer2 {
    /* display: flex; */
    flex: 1 1 auto;
}

.router-link-active {
    background: rgba(0,0,0,.2);
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

a:hover {
    background: rgba(0,0,0,.2);
}

.example-btn {
    margin-left: 20px;
    margin-right: 20px;
}