<p>Test Backend function</p>
<div *ngFor="let student of students let i=index">
    {{ i }}
    {{ 'Name: ' + student.name }}
</div>

<hr>

<button mat-raised-button color="primary" (click)="getAllGenres()">Get All Genres</button>
<button mat-raised-button color="primary" (click)="searchTrack($event)">searchTrack</button>

<table *ngIf="genres?.length"  mat-table [dataSource]="genres" class="mat-elevation-z8">
    <!-- genre id -->
    <ng-container matColumnDef="genre_id">
      <th mat-header-cell *matHeaderCellDef> Genre ID </th>
      <td mat-cell *matCellDef="let element"> {{element.genre_id}} </td>
    </ng-container>
    <!-- tracks -->
    <ng-container matColumnDef="tracks">
      <th mat-header-cell *matHeaderCellDef> Tracks </th>
      <td mat-cell *matCellDef="let element"> {{element.tracks}} </td>
    </ng-container>
    <!-- parent -->
    <ng-container matColumnDef="parent">
      <th mat-header-cell *matHeaderCellDef> Parent </th>
      <td mat-cell *matCellDef="let element"> {{element.parent}} </td>
    </ng-container>
    <!-- title -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <!-- top-level -->
    <ng-container matColumnDef="top_level">
      <th mat-header-cell *matHeaderCellDef> Top Level </th>
      <td mat-cell *matCellDef="let element"> {{element.top_level}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>